<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<context-param>
		<param-name>resteasy.role.based.security</param-name>
		<param-value>true</param-value>
	</context-param>

	<login-config>
		<auth-method>KEYCLOAK</auth-method>
	</login-config>

	<security-role>
		<role-name>user</role-name>
	</security-role>

	<env-entry>
		<env-entry-name>loginUrl</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/auth/realms/SocialAlert-Dev/protocol/openid-connect/token</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>logoutUrl</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/auth/realms/SocialAlert-Dev/protocol/openid-connect/logout</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>loginClientId</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>socialalert-jee</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>clientSecret</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>f1101baf-c3d6-4108-a065-1f5a59f403f8</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>mongoDbUrl</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>mongodb://localhost:27017</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>maxUploadSize</env-entry-name>
		<env-entry-type>java.lang.Long</env-entry-type>
		<env-entry-value>10</env-entry-value>
	</env-entry>
</web-app>