<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<context-param>
		<param-name>resteasy.role.based.security</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>swagger</servlet-name>
		<servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>http://jcla3ndtozbxyghx.myfritz.net:18788/socialalert-jee/rest</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.title</param-name>
			<param-value>Socialalert API</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<welcome-file-list>
		<welcome-file>Index.jsf</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secured</web-resource-name>
			<url-pattern>*.jsf</url-pattern>
			<url-pattern>/faces/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>KEYCLOAK</auth-method>
	</login-config>
	<security-role>
		<role-name>user</role-name>
	</security-role>
	<env-entry>
		<env-entry-name>loginUrl</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/auth/realms/SocialAlert-Dev/protocol/openid-connect/token</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>logoutUrl</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/auth/realms/SocialAlert-Dev/protocol/openid-connect/logout</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>userInfoUrl</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/auth/realms/SocialAlert-Dev/protocol/openid-connect/userinfo</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>loginClientId</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>socialalert-jee</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>clientSecret</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>a1c5e3a3-a715-4f8e-b218-c826f9ebeac7</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>maxUploadSize</env-entry-name>
		<env-entry-type>java.lang.Long</env-entry-type>
		<env-entry-value>4000000</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>mediaCacheMaxAge</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>600</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>mediaBaseDirectory</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${jboss.server.data.dir}\media.store</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>databaseBaseDirectory</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${jboss.server.data.dir}\neo4j.db</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>indexBaseDirectory</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${jboss.server.data.dir}\lucene.idx</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>mediaThumbnailHeight</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>200</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>mediaThumbnailWidth</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>320</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>mediaPreviewHeight</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>640</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>mediaPreviewWidth</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>960</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>mediaWatermarkFile</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>logo.jpg</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>videoSnapshotDelay</env-entry-name>
		<env-entry-type>java.lang.Long</env-entry-type>
		<env-entry-value>5000</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>videoLibraryPath</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>C:\Dev</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>sessionTimeout</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>6000</env-entry-value>
	</env-entry>
</web-app>